<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
</head>
<body>
<th:block layout:fragment="page-content">
    <div class="container-fluid">

        <div class="my-3 col-md-6">
            <div class="p-3">
                <h3 class="text-left" th:text="${myTitle}"></h3>

                <form id="myform" th:action="@{${@webUrls.countries_save}}"
                      method="post" enctype="multipart/form-data"
                      th:object="${myDto}">

                    <!-- FIELDS -->
                    <div class="form-group">
                        <label for="name_fr" th:text="#{form.name_fr}"></label> <input
                            id="name_fr" type="text"
                            class="form-control form-control-sm" th:field="*{name_fr}"
                            th:errorclass="has-error" />
                    </div>
                    <div class="form-group">
                        <label for="name_en" th:text="#{form.name_en}"></label> <input
                            id="name_en" type="text"
                            class="form-control form-control-sm" th:field="*{name_en}"
                            th:errorclass="has-error" />
                    </div>
                    <div class="form-group">
                        <label for="prefix" th:text="#{form.prefix}"></label> <input
                            id="prefix" type="text"
                            class="form-control form-control-sm" th:field="*{prefix}"
                            th:errorclass="has-error" />
                    </div>
                    <br/>
                    <div class="form-group">
                        <button id="btnSave" type="submit" class="btn btn-primary btn-sm"
                                th:text="#{form.save}"></button>
                        <a id="btnCancel" type="button" class="btn btn-danger btn-sm"
                           th:href="@{${@webUrls.countries_view}}"
                           th:text="#{form.cancel}"></a>
                    </div>

                    <!-- MESSAGE -->
                    <div th:replace="~{fragments/fragment-messages :: msg-validation}"></div>

                    <!-- HIDDEN FIELDS -->
                    <input id="id" type="hidden" th:field="*{id}" />
                    <input id="error" type="hidden"/>

                </form>

            </div>
        </div>

    </div>
</th:block>
</body>
</html>