<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
</head>
<body>

<th:block layout:fragment="page-content">

    <div class="container-fluid">

        <h3 class="text-dark my-3" th:text="#{form.countries}"></h3>

        <div class="row my-3">

            <div class="col-md-6 mt-2">
                <a id="btnNew" class="btn btn-primary btn-sm"
                   th:href="@{|/countries/get/form/0|}"
                   th:text="#{form.new}"></a>
            </div>
            <div class="col-md-6 mt-2">
                <form id="myFilterForm" th:action="@{/countries}"
                      enctype="multipart/form-data" method="get">
                    <div class="input-group d-flex align-items-center">
                        <input id="keyword" type="text" class="form-control"
                               name="keyword" th:value="${keyword}"
                               th:placeholder="#{form.search}" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="row">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{form.id}"></th>
                    <th scope="col" th:text="#{form.name_fr}"></th>
                    <th scope="col" th:text="#{form.name_en}"></th>
                    <th scope="col" th:text="#{form.prefix}"></th>
                    <th scope="col" th:text="#{form.actions}"></th>
                </tr>
                </thead>
                <tbody th:if="${myData != null && !myData.isEmpty()}">
                <tr th:each="item : ${myData}">
                    <th scope="row" th:text="${item.id}"></th>
                    <th scope="row" th:text="${item.name_fr}"></th>
                    <th scope="row" th:text="${item.name_en}"></th>
                    <th scope="row" th:text="${item.prefix}"></th>
                    <td><a
                            th:href="@{|/countries/get/form/${item.id}|}"
                            class="btn btn-secondary btn-sm"><i
                            class="fa fa-pen-to-square"></i> </a> <a
                            th:href="@{|/countries/delete/${item.id}|}"
                            th:itemId="${item.id}" class="btn btn-danger btn-sm btn-delete">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a></td>
                </tr>
                </tbody>
                <tbody th:if="${myData == null || myData.isEmpty()}">
                <tr>
                    <td colspan="4" th:text="#{error.noDataFound}"></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <th:block layout-fragment="app-js">
        <script type="text/javascript" th:inline="javascript">

        </script>
    </th:block>

</th:block>

</body>
</html>