
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
</head>
<body>

<th:block layout:fragment="page-content">

    <div
            class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Stage / UPC</h1>
            <h1 class="cover-heading">Spring Framework</h1>
            <h1 class="cover-heading">Module 01</h1>
            <h1 class="cover-heading">App02</h1>
            <ul class="lead">
                <li th:text="#{title.multiModulesProject}">Multi-Module
                    Project</li>
                <li th:text="#{title.thymeleafLayout}">Thymeleaf Layout</li>
                <li th:text="#{title.advancedJdbcTemplate}">Advanced
                    JdbcTemplate</li>
                <li th:text="#{title.pageNavigation}">Page Navigation</li>
                <li th:text="#{title.security}">Security</li>
                <li th:text="#{title.others} + '...'">Others...</li>
            </ul>
        </main>
    </div>

</th:block>

</body>
</html>

