<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Question-App</title>
</head>
<body>

<th:block layout:fragment="page-content">

    <div class="container-fluid">

        <h3 class="text-dark my-3" th:text="#{form.users}"></h3>

        <div class="row my-3">

            <div class="col-md-6 mt-2">
                <a id="btnNew" class="btn btn-primary btn-sm"
                   th:href="@{${@webUrls.users_form}(id=0)}"
                   th:text="#{form.new}"></a>
            </div>
            <div class="col-md-6 mt-2">
                <form id="myFilterForm" th:action="@{${@webUrls.users_view}}"
                      enctype="multipart/form-data" method="get">
                    <div class="input-group d-flex align-items-center">
                    <!--    <div class="form-check form-check-inline form-switch">
                            <input id="chkActif" class="form-check-input" type="checkbox"
                                   name="active" th:checked="${myCheck}"
                                   onclick="submit()" /><label
                                class="form-check-label" for="chkActif"
                                th:text="#{form.active}"></label>
                        </div> -->
                        <input id="keyword" type="text" class="form-control"
                               name="keyword" th:value="${keyword}"
                               th:placeholder="#{form.search}" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="row">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{form.id}"></th>
                    <th scope="col" th:text="#{form.username}"></th>
                    <th scope="col" th:text="#{form.active}"></th>
                    <th scope="col" th:text="#{form.actions}"></th>
                </tr>
                </thead>
                <tbody th:if="${myData != null && !myData.isEmpty()}">
                <tr th:each="item : ${myData}">
                    <td th:scope="row" th:text="${item.id}"></td>
                    <td th:scope="row" th:text="${item.username}"></td>
                    <td><div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                               disabled="disabled" th:checked="${item.is_active}" />
                    </div></td>
                    <td><a
                            th:href="@{${@webUrls.users_form} (id=${item.id})}"
                            class="btn btn-secondary btn-sm"><i
                            class="fa fa-pen-to-square"></i> </a>
                        <a
                            th:href="@{${@webUrls.users_delete} (id=${item.id})}"
                            th:itemId="${item.id}" class="btn btn-danger btn-sm btn-delete">
                            <i class="fa fa-trash" aria-hidden="true"></i></a>
                        <a
                            th:itemId="${item.id}" class="btn btn-default btn-block">
                            <span class="cadenas-icon" th:classappend="${user.blocked ? 'locked' : ''}"
                                  th:onclick="'toggleBlocked(\'' + ${user.id} + '\')'"></span>
                        <i class="fa fa-lock" aria-hidden="true" ></i>
                    </a></td>
                </tr>
                </tbody>
                <tbody th:if="${myData == null || myData.isEmpty()}">
                <tr>
                    <td colspan="4" th:text="#{error.noDataFound}"></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <th:block layout-fragment="app-js">
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function() {

                function submit(e) {
                    e.preventDefault();
                $('#myFilterForm').submit();

                };
                function toggleBlocked(userId) {

        const row = document.querySelector('[data-user-id="' + userId + '"]');
        row.classList.toggle('blocked-row');
                }

            });
            /*]]>*/
        </script>
    </th:block>

</th:block>

</body>
</html>