<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Question-App</title>
</head>
<body>
<th:block layout:fragment="page-content">
    <div class="container-fluid">

        <div class="my-3 col-md-6">
            <div class="p-3">
                <h3 class="text-left" th:text="${myTitle}"></h3>

                <form id="myform" th:action="@{${@webUrls.users_save}}"
                      method="post" enctype="multipart/form-data"
                      th:object="${myDto}">

                    <!-- FIELDS -->
                    <div class="form-group">
                        <label for="username" th:text="#{form.username}"></label> <input
                            id="username" type="text"
                            class="form-control form-control-sm" th:field="*{username}"
                            th:errorclass="has-error" />
                    </div>
                    <div class="form-group">
                        <label for="email" th:text="#{form.email}"></label> <input
                            id="email" type="email"
                            class="form-control form-control-sm" th:field="*{email}"
                            th:errorclass="has-error" />
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{form.password}"></label> <input
                            id="password" type="password"
                            class="form-control form-control-sm" th:field="*{password}"
                            th:errorclass="has-error" />
                    </div>
                    <div class="form-group">
                        <label for="status" th:text="#{form.status}"></label> <input
                            id="status" type="text"
                            class="form-control form-control-sm" th:field="*{status}"
                            th:errorclass="has-error" list="state"/>
                        <datalist id="state">
                            <option value="pending">pending</option>
                            <option value="success">success</option>
                            <option value="active">active</option>
                            <option value="disabled">disabled</option>
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="phone" th:text="#{form.phone}"></label> <input
                            id="phone" type="text"
                            class="form-control form-control-sm" th:field="*{phone}"
                            th:errorclass="has-error" />
                    </div>
                    <!--    <div class="form-group">
                            <label for="google_id" th:text="#{form.google_id}"></label> <input
                                id="google_id" type="text"
                                class="form-control form-control-sm" th:field="*{google_id}"
                                th:errorclass="has-error" />
                        </div> -->
                    <!--    <div class="form-check">
                            <input id="actif" type="checkbox" class="form-check-input"
                                   th:field="*{is_active}" /><label class="form-check-label"
                                                                for="actif" th:text="#{form.active}"></label>
                        </div> -->
                    <br/>
                    <div class="form-group">
                        <button id="btnSave" type="submit" class="btn btn-primary btn-sm"
                                th:text="#{form.save}"></button>
                        <a id="btnCancel" type="button" class="btn btn-danger btn-sm"
                           th:href="@{${@webUrls.users_view}(is_active=true)}"
                           th:text="#{form.cancel}"></a>
                    </div>

                    <!-- MESSAGE -->
                    <div th:replace="~{fragments/fragment-messages :: msg-validation}"></div>

                    <!-- HIDDEN FIELDS -->
                    <input id="id" type="hidden" th:field="*{id}" />
                    <input id="error" type="hidden"/>

                </form>

            </div>
        </div>

    </div>
</th:block>
</body>
</html>